#callToActionMsg {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 7px -3px rgba(#000, 0.25), 0 4px 15px rgba(#000, 0.09);
  padding: 12px 10px;
  width: 250px;
  max-width: 100%;
  font-size: .9375rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #545454;
  &.hide {
    display: none;
  }
}
