#callToActionMsg {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 7px -3px rgba(#000, 0.25), 0 4px 15px rgba(#000, 0.09);
  padding: 12px 10px;
  width: 310px;
  max-width: 100%;
  max-height: 450px;
  overflow-y: auto;
  font-size: .9375rem;
  line-height: 1.4rem;
  font-weight: 400;
  color: #545454;
  margin-bottom: 10px;
}

#closeCallToAction {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 5px;
  background: #f7f7f7;
  box-shadow: 0 2px 3px -1px rgb(#000, 25%), 0 2px 6px rgb(#000, 9%);
  cursor: pointer;
}