#card {
	display: none;
	width: 300px;
	min-width: 200px;
	max-width: 100%;
	border-radius: 12px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.07);

	&.show {
		display: block;
	}
}

#cardHeader {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: var(--card-theme-color);

	h4 {
		font-size: 1rem;
		font-weight: 600;
		margin: 0;
		color: var(--card-text-color);
	}
}

.closeCardBtn {
	height: 28px;
	width: 28px;
	cursor: pointer;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--card-theme-color);
	background-color: rgba(#fff, 0.6);

	svg,
	img {
		filter: brightness(25%);
	}

	&:focus-visible {
		outline: 2px solid #000;
	}
}

#cardBody {
	padding: 20px;
	background-color: #fff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}