#widgetBubbleRow {
	max-width: 100%;
	display: flex;
	gap: 5px;
}

#widgetBubbleWrapper {
	position: relative;
	width: var(--widget-size);
	min-width: var(--widget-size);
	height: var(--widget-size);
	min-height: var(--widget-size);
	filter: drop-shadow(0 1px 4px #00000018) drop-shadow(0 2px 12px #00000016);
}

#widgetBubbleWrapper.active::after {
	content: '';
	position: absolute;
	top: 2px;
	right: 2px;
	width: 12px;
	height: 12px;
	background-color: var(--widget-notification-badge-color);
	border-radius: 50%;
}

#widgetBubble {
	color: #fff;
	cursor: pointer;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--widget-color);
	border: none;

	&:focus-visible {
		outline-offset: 2px;
		outline-style: dashed;
		outline-width: 2px;
	}

	&.semiRounded {
		mask: url('../public/images/widget-button-mask.svg') no-repeat;
		-webkit-mask: url('../public/images/widget-button-mask.svg') no-repeat;
	}

	&.rounded {
		border-radius: 10px;
	}

	&.circle {
		border-radius: 50%;
	}

	&.square {
		border-radius: none;
	}

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-image: url('../public/images/close-icon.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: 30%;
		filter: brightness(0) var(--widget-bubble-icon-color);
		opacity: 0;
		transition: opacity 0.15s ease-out;
	}

	&.open {
		#widget-img {
			opacity: 0;
			transition: opacity 0.15s ease-out;
		}

		& ~ #credit {
			display: inline-block;

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		&::after {
			opacity: 1;
			transition: opacity var(--transition-duration) ease-in;
		}
	}
}

#widget-img {
	transition: opacity var(--transition-duration) ease-in;

	&.icon {
		width: 55%;
		height: 55%;
		object-fit: contain;
		filter: var(--widget-bubble-icon-color);
	}

	&.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}

	&::selection {
		background: transparent;
	}
}
