:root {
	--widget-color: #00ffa3;
	--widget-black: #141844;
	--widget-size: 60px;
	--transition-duration: 300ms;
	--card-theme-color: #23c88c;
	--card-text-color: #fff;
	--widget-bubble-icon-color: invert(0);
	--modal-title-height: 0px;
	--client-win-width: 0;
	--widget-padding: 20px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-thumb {
	background: #cdcdcd;
	border-radius: 4px;
}

body {
	overflow: hidden;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hide {
	display: none !important;
}

@import './widget';
@import './widgetBubble';
@import './callToAction';
@import './card';
@import './channels';
@import './contactForm';
@import './rating';
@import './feedback';
@import './listItem';
@import './toast';
@import './keyframes';
