* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#bit-apps-root {
  direction: ltr !important;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  isolation: isolate;
  line-height: 1.5;
}
.link {
  text-decoration: none;
  cursor: pointer;
}
svg {
  pointer-events: none;
  display: inline-block;
}
.radio-card.dark .widget-icon,
.radio-card[data-checked].light .widget-icon {
  filter: invert(98%) sepia(98%) saturate(0%) hue-rotate(315deg) brightness(104%) contrast(102%); /* black icon */
}
.radio-card[data-checked].dark .widget-icon {
  filter: invert(7%) sepia(5%) saturate(5605%) hue-rotate(182deg) brightness(98%) contrast(88%); /* white icon */
}
.tox-tinymce-aux {
  z-index: 9999 !important;
}
.tox .tox-dialog-wrap__backdrop {
  background-color: transparent !important;
}
.select-search-container {
  --select-search-background: var(--chakra-colors-chakra-body-bg) !important;
  --select-search-border: var(--chakra-colors-gray-100) !important;
  --select-search-text: var(--chakra-colors-chakra-body-text) !important;
  --select-search-highlight: var(--chakra-colors-blue-400) !important;
  width: 100% !important;
}
.select-search-input {
  --select-search-background: var(--chakra-colors-chakra-body-bg);
  --select-search-selected: #89b4fa;
  --select-search-text: var(--chakra-colors-chakra-body-text);
  --select-search-subtle-text: #a6adc8;
  --select-search-highlight: #1e1e2e;
  height: var(--chakra-sizes-10) !important;
  border-radius: var(--chakra-radii-md) !important;
}
[data-theme='light'] .select-search-input {
  --select-search-border: var(--chakra-colors-gray-100);
}
[data-theme='light'] .select-search-input:not(:focus):hover {
  border-color: var(--chakra-colors-gray-100) !important;
}
[data-theme='dark'] .select-search-input {
  --select-search-border: var(--chakra-colors-whiteAlpha-400);
}
[data-theme='dark'] .select-search-input:not(:focus):hover {
  border-color: var(--chakra-colors-whiteAlpha-400) !important;
}
#chakra-toast-manager-top-right {
  top: 2rem !important;
}
.chipSelect {
  border-radius: 30px !important;
  height: 30px !important;
  min-height: 30px !important;
  padding: 0 10px !important;
}
.chipSelect.active.disabled,
.chipSelect.active:disabled,
.chipSelect.active {
  background: var(--chakra-colors-purple-200);
}
.chipSelect:focus {
  box-shadow: none !important;
  border-color: inherit !important;
}
