.wp-core-ui .button-primary:disabled,
.wp-core-ui .button-primary[disabled] {
  background: rgb(190, 190, 190) !important;
  color: white !important;
}

#wpcontent {
  padding-left: 0;
}

#wpbody-content {
  padding-bottom: 0;
  height: calc(100vh - 31px);
}

#wpbody {
  position: static !important;
}

#wpfooter {
  display: none;
}

.wp-core-ui .attachment-preview {
  border-radius: 8px !important;
  overflow: hidden;
}

.wp-core-ui select:disabled,
.wp-core-ui select.disabled,
.wp-core-ui select {
  background-image: none;
  height: var(--chakra-sizes-10);
  border-radius: var(--chakra-radii-md);
  border-color: inherit;
  max-width: 100%;
  background: inherit;
  color: inherit;
}

.wp-core-ui select:hover {
  color: inherit;
}

.wp-core-ui select:focus {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:focus {
  color: inherit;
  outline: none;
  box-shadow: none;
}

p {
  font-size: inherit;
  line-height: var(--chakra-lineHeights-base);
}

input[type="checkbox"]:disabled:checked:before,
input[type="checkbox"].disabled:checked:before {
  opacity: 0 !important;
}

.wp-core-ui .attachment.details,
.attachment:focus {
  box-shadow: 0 0 0 2px var(--accent-color) !important;
}

li {
  margin-bottom: 0;
}

textarea.readonly, textarea[readonly] {
  background-color: var(--chakra-colors-gray-800);
}

h2, h3 {
  color: inherit;
}

input[type="tel"] {
  border-color: inherit;
  -webkit-padding-start: var(--chakra-space-4);
  padding-inline-start: var(--chakra-space-4);
  -webkit-padding-end: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  height: var(--chakra-sizes-10);
  border-radius: var(--chakra-radii-md);
}